* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: maroon; 
}

.title {
    font-size: 5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    color: white;
}
button {
    height: fit-content;
    width: 6rem;
    margin-top: 1rem;
    padding: 0.2rem 0.4rem;
    font-size: large;
    border-radius: 4px;
    background-color:darksalmon;
}

.container {
    display: grid;
    gap: 0;
    width: 400px;
    height: 400px;
    grid-template-columns: auto; 
    grid-template-rows: auto;
    margin-top: 2rem;
    border: 2px solid black;
}

.square {
    aspect-ratio: 1;
    margin: 0;
    background-color: white;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.grid-size {
    width: 12rem;
    border: 2px solid black;
}
.medium-grid {
    background-color: black;
    color: white;
}

.clear:active {
    background-color: black;
    color: white;
}
